# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/code-comments.xml
.idea/gonsq.iml
.idea/misc.xml
.idea/modules.xml
.idea/thriftCompiler.xml
.idea/vcs.xml
gonsq.exe
/consumer/consumer.exe
/producer/producer.exe
